*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Cinzel";
  src: url("../fonts/Cinzel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-size: 1.5rem;
}

.about-content {
  width: 80%;
  height: 100vh;
}

.about-content h1 {
  font-family: "Cinzel", serif;
}

.about-content p {
  font-family: "Crimson Pro", serif;
}
