*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Cinzel";
  src: url("../fonts/Cinzel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-size: 1.5rem;
}

img {
  display: block;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
  background-color: #1e3d36;
  color: #faf3e0;
}

.nav {
  width: 80%;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1rem;
}

.logo-sect {
  font-family: "Cinzel", serif;
}

.btn-sect {
  display: flex;
  align-items: center;
  gap: 1em;
}

button {
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  background-color: #9c6b4f;
  color: #faf3e0;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #cfae6d;
}

.content {
  display: flex;
  justify-content: center;
  background-color: #faf3e0;
}

.home-content {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.img-sect {
  width: 50%;
  display: flex;
  overflow: hidden;
  border-radius: 1em;
}

.img-sect img {
  width: 100%;
}

.welcome-title {
  font-family: "Cinzel", serif;
  color: #1e3d36;
  border-bottom: 2px solid #cfae6d;
  font-size: 1.5rem;
}

.welcome-sect {
  width: 50%;
}

.welcome-letter {
  font-family: "Crimson Pro", serif;
}
