*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.5rem;
}

img {
  display: block;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid grey;
}

.nav {
  width: 80%;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1rem;
}

.btn-sect {
  display: flex;
  gap: 1em;
}

button {
  background-color: #fff;
  border: none;
  padding: 0.5em 2em;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(180, 180, 180);
}

.content {
  display: flex;
  justify-content: center;
}

.home-content {
  width: 80%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.img-sect {
  width: 50%;
  display: flex;
  overflow: hidden;
  border-radius: 1em;
}

.img-sect img {
  width: 100%;
}

.welcome-sect {
  width: 50%;
}
